# .pylintrc
[MASTER]
load-plugins=
ignore=CVS
ignore-patterns=
persistent=yes
suggestion-mode=yes

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=line-too-long,
        unused-import,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-locals,
        duplicate-code

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=240

[REPORTS]
# Set the output format. Available formats are text, parseable, colorized, json
output-format=text

# Tells whether to display a full report or only the messages
reports=no

# Python expression which should return a note less than 10 (10 is the highest
# note). You have access to the variables errors warning, statement which
# respectively contain the number of errors / warnings messages and the total
# number of statements analyzed. This is used by the global evaluation report
# (RP0004).
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

# Template used to display messages. This is a python new-style format string
# used to format the message information. See doc for all details
msg-template={path}:{line}:{column}: {msg} ({msg_id}, {symbol}, {obj})

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=8

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes

[VARIABLES]
# A regular expression matching the name of dummy variables (i.e. expectedly
# not used).
dummy-variables-rgx=_$|dummy|unused

[BASIC]
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,id

# Bad variable names which should always be refused, separated by a comma
bad-names=foo,bar,baz,toto,tutu,tata

[DESIGN]
# Maximum number of arguments for function / method
max-args=12

# Maximum number of locals for function / method body
max-locals=20

# Maximum number of return / yield for function / method body
max-returns=8

# Maximum number of branch for function / method body
max-branches=15

# Maximum number of statements in function / method body
max-statements=70

# Maximum number of parents for a class (see R0901).
max-parents=10

# Maximum number of attributes for a class (see R0902).
max-attributes=20

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

# Maximum number of public methods for a class (see R0904).
max-public-methods=35
