name: audio_controller
device_type: audio
device_class: consumer
identification:
  vendor_id: 0x8086  # Intel Corporation
  device_id: 0x2668  # ICH6 AC'97 Audio Controller
  subsystem_vendor_id: 0x8086
  subsystem_device_id: 0x2668
  class_code: 0x040100  # Audio device
registers:
  command: 0x0006  # Memory Space + Bus Master
  status: 0x0210   # Cap List + Fast B2B
  revision_id: 0x01
  cache_line_size: 0x10
  latency_timer: 0x00
  header_type: 0x00
  bist: 0x00
capabilities:
  max_payload_size: 256
  msi_vectors: 1
  msix_vectors: 0
  supports_msi: true
  supports_msix: false
  supports_power_management: true
  supports_advanced_error_reporting: false
  link_width: 1
  link_speed: "2.5GT/s"
custom_properties:
  description: "Intel ICH6 AC'97 Audio Controller"
  manufacturer: "Intel Corporation"
  typical_use_case: "Integrated audio controller"